* {
  margin: 0;
  padding: 0;
  line-height: 1em;
  border:0;
}

body {
  background-color: #000;
  color:#ccc;
  font-family: 'Arial Black', sans-serif;
  margin:10px 30px;
}

#console {
  margin-top: 40px;
  clear: left;
  display: block;
  width: 600px;
  height: 200px;
  background-color: #030;
  color: #0a0;
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  padding:2px;
  line-height: 1.2em;
}

h1 {
  margin: 10px 0;
}

#playfield, #machine, #code_editors {
  overflow: auto;
}

#memory {
  float:left;
  overflow: auto;
  margin: 0 40px 0 0;
  padding:5px;
  background-color: #444;
}

.br {
  display: block;
  clear: left;
}

#menu {
  overflow: auto;
  display: block;
  clear:left;
  margin-top: 5px;
}

#speed_controls {

  margin: 10px 0;
}

#speed_slider {
  display: inline;
  height:1em;
  margin: 0 10px
}

.memory_cell {
  width:6px;
  height:6px;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  background-color: #115;
  float:left;
}

.break {
  clear: left;
}

.written_by_player_0 {
  background-color: #6a6;
}

.written_by_player_1 {
  background-color: #a66;
}

.pointer_player_0 {
  border-color: #0f0;
}

.pointer_player_1 {
  border-color: #f00;
}

.machine_button {
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  display: block;
  float: left;
}

.started {
  background-color: #afa;
}

.fleft {
  float: left;
}

.green {
  color: #8f8;
}

.red {
  color: #f88;
}

#code1 {
  background-color: #dfd;
}

#code2 {
  background-color: #fdd;
}


.code_area {
    width:300px;
    margin-right:20px;
    margin-bottom: 20px;
    font-family: monospace;
    height: 250px;
    padding: 5px;
    display:block;
    float:left;
  }
